---
title: An Easy Way to Build MIDI Controllers
layout: landing
---


{% include sections/about.html %}

{% include sections/offer.html offer-text="Configure online - no installation necessary" offer-link="https://config.shanteacontrols.com" button-text="Configurator" %}

{% include sections/features.html %}

{% include sections/offer.html offer-text="Get the OpenDeck board on Lectronz" offer-link="https://lectronz.com/products/opendeck-l//" button-text="Lectronz store" %}

{% include sections/supported-boards.html %}

{% include sections/offer.html offer-text="Flash your board with OpenDeck firmware" offer-link="https://github.com/shanteacontrols/OpenDeck/wiki/Flashing-the-OpenDeck-firmware" button-text="Instructions" %}

{% include sections/portfolio.html %}

{% include sections/offer.html offer-text="Discuss, ask, show off your build" offer-link="https://github.com/shanteacontrols/OpenDeck/discussions" button-text="Discussions" %}

{% include sections/dubfocus16.html %}

{% include sections/offer.html offer-text="DubFocus 16 demo by Alpha Steppa" offer-link="https://www.youtube.com/watch?v=zgm0ZtjMEMM" button-text="YouTube" %}

{% include sections/testimonials.html %}

{% include sections/offer.html offer-text="Extensive documentation for an easy start" offer-link="https://github.com/shanteacontrols/OpenDeck/wiki" button-text="Documentation" %}

{% include sections/blog.html %}

{% include sections/contact.html %}
