<!-- Contact Section -->
<section class="site-section contact-section" id="contact">

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.contact-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.contact-description }}</p>
      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container">

      <!-- Contact Form -->
      <div class="col-md-8 col-md-push-2">
        <script src="https://unpkg.com/@botpoison/browser"></script>
        <form id="sera-contact-form" action="https://submit-form.com/F0Kjm3Mt" method="POST" class="contact-form container-fluid">
          <div class="col-md-12">
            <p class="contact-form-status" role="status" aria-live="polite"></p>
          </div>
          <div class="col-md-6">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="col-md-6">
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div class="col-md-12">
            <textarea name="message" rows="8" cols="40" placeholder="Message (at least 25 characters)" required minlength="25"></textarea>
          </div>
          <div class="col-md-12 form-action">
            <button type="submit" class="send-button">Send Message</button>
          </div>
        </form>
        <script src="{{ "/js/contact-form.js" | relative_url }}"></script>
      </div>

    </div>

  </div>
</section>
