<!-- Features Section -->
<section class="site-section section-focus features-section" id="features">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.features-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.features-description }}</p>
      </div>

    </div>

    <!-- Features -->
    <div class="row features">

      {% for feature in site.features %}

      <div class="col-md-4 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 feature">
        <div class="icon parent">
          <div class="circle parent">
            <div class="circle child-center">
              {% assign feature_title = feature.title | downcase %}
              {% if feature.svg %}
              <img class="feature-svg child-center" src="{{ site.baseurl }}/images/{{ feature.svg }}" alt="" aria-hidden="true" />
              {% elsif feature_title == "open source" or feature_title == "opensource" %}
              <img class="feature-svg child-center" src="{{ site.baseurl }}/images/icons/open-source.svg" alt="" aria-hidden="true" />
              {% else %}
              <i class="{{ feature.icon }} child-center"></i>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="content text-center">
          <h3>{{ feature.title }}</h3>
          <h5>{{ feature.description }}</h5>
        </div>
      </div>

      {% endfor %}

    </div>

    {% if site.features-extra-content %}
    <div class="row">
      <div class="col-md-8 col-md-push-2 col-sm-12 features-extra-content">
        {{ site.features-extra-content | markdownify }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
