/**
* ============================
*  2.Varibales
* ============================
*/
@import "../../shared/colors";

$primary-font-size: 16px;
$h1-font-size: 70px;
$h2-font-size: 24px;
$font-20: 20px;
$smaller-font: 18px;
$line-height-1: 24px;
$line-height-2: 30px;
$line-height-3: 36px;
$font-bold: 700;
$font-medium: 600;
$font-normal: 400;
$font-family: "Nunito", Arial, sans-serif;
$primary-color: #404040;
$white-text: #fff;
$primary-link: #333333;
$hover: #fe6061;
$grey-bg: #f8f9f9;
$font-style: italic;
$input-border: 1px solid #d9d9d9;
$mouse-cursor: pointer;
$section-padding-50: 50px;
$section-padding-100: 100px;
$pt-60: 60px;
