<!-- Site Header -->
<header class="site-header" id="home">

  <!-- Header Images -->
  <div class="header-media">
    <div id="header-carousel" class="header-carousel owl-carousel">
      {% assign header_images = site.static_files | where_exp: "file", "file.path contains '/images/landing/header/'" | sort: "path" %}
      {% for image in header_images %}
      <div class="cover">
        <img style="filter: brightness(80%);" src="{{ site.baseurl }}{{ image.path }}" alt="{{ site.title }} header image {{ forloop.index }}"/>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">

    <!-- Site Navigation Bar -->
    <div class="site-navigation-bar parent">

      <!-- Logo -->
      <div class="logo site-nav-logo">
        <a href="{{ site.baseurl }}/#home"><img src="{{ site.baseurl }}/images/logo_notext.svg" width="70" alt="{{ site.title }}"></a>
      </div>

      <!-- Toggle Mobile Menu -->
      <div class="toggle-menu">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="navigation-bar">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          {% include shared-nav-menu.html %}
        </nav>

      </div>


    </div>

    <!-- Site Header Banner -->
    <div class="header-banner parent">

      <div class="heading-content">

        <!-- Heading Title -->
        <div class="heading-title">
          <h2cover>{{ site.header-tagline }}</h2cover>
          <hr class="small">
          <h1cover class="thin">{{ site.header-title }}</h1cover>
        </div>

        <!-- Header Buttons -->
        <div class="buttons-header">
          <div class="button-wrap"><a href="{{ site.header-focus-button.url }}" target="_blank" class="button-cta button-focus">{{ site.header-focus-button.title }}</a></div>
          <div class="button-wrap"><a href="{{ site.header-secondary-button.url }}" target="_blank" class="button-cta">{{ site.header-secondary-button.title }}</a></div>
        </div>

      </div>

    </div>

  </div>
</header>
