<header class="blog-site-header">
  <div class="container">
    <div class="blog-navigation-bar site-navigation-bar">
      <div class="blog-logo site-nav-logo">
        <a href="{{ site.baseurl }}/#home">
          <img src="{{ site.baseurl }}/images/logo_notext.svg" width="70" alt="{{ site.title }}">
        </a>
      </div>
      <div class="toggle-menu">
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>
      </div>
      <div class="blog-nav-menu navigation-bar">
        <nav id="navMenu" class="nav-menu" aria-label="Primary">
          {% include shared-nav-menu.html %}
        </nav>
      </div>
    </div>
  </div>
</header>
