{% for post in paginator.posts %} {% if forloop.index == 1 %}
<div class="featured-post-area pt-4 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="blog-list featured-blog-list">
          <div class="list-block featured-list-block" data-href="{{post.url}}" role="link" tabindex="0">
            <span class="featured-label">Latest Post</span>
            <h2>{{post.title}}</h2>
            <span class="date">{{post.date | date_to_long_string}}</span>
            <p>{{post.excerpt | strip_html | truncatewords:30}}</p>
            <div class="btn-read"><a href="{{post.url}}">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endfor %}
