<div class="page-header{% if page.layout == "post" %} post-title-header{% else %} grey-bg{% endif %} mt-5 pb-100 mb-100 pt-85 clearfix">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="author-text">
          <div class="single-author-d w-100">
            <div class="title">
              <h2 class="mb-0 text-center">{{page.title}}</h2>
            </div>
            {% if page.layout == "post" %}
            <div class="post-meta d-flex">
              <ul class="post-sp-meta list-inline mx-auto my-0">
                <li class="list-inline-item">
                  <i class="fa fa-clock-o"></i>{{page.date | date_to_long_string
                  }}
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
