/**
 *
 *  Global Classes Style
 *
 *  @package gleesik_module
 *
 **/

// Typography
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-focus {
  color: $primary;
}

// Alignament Block
.parent {
  position: relative;
}

.child-center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.child-center-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.child-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Shapes
.circle {
  border-radius: 120%;
}

// Block Tools
.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

