<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta
      name="keywords"
      content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}"
    />
    <!-- Facebook Open Graph -->
    <meta content="{{ site.title }}" property="og:site_name" />
    <meta property="og:locale" content="en_US" />
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title" />
    {% else %}
    <meta content="{{ site.title }}" property="og:title" />
    {% endif %} {% if page.title %}
    <meta content="article" property="og:type" />
    {% else %}
    <meta content="website" property="og:type" />
    {% endif %} {% if page.description %}
    <meta content="{{ page.description }}" property="og:description" />
    {% else %}
    <meta content="{{ site.description }}" property="og:description" />
    {% endif %} {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
    {% endif %} {% if page.image %}
    <meta content="{{ page.image }}" property="og:image" />
    {% else %}
    <meta content="{{ site.cover_image }}" property="og:image" />
    {% endif %} {% if page.tags %}{% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag" />
    {% endfor %}{% endif %} {% if page.categories %}{% for category in
    page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section" />
    {% endfor %}{% endif %} {% if page.date %}
    <meta
      content="{{ page.date | date_to_xmlschema }}"
      property="article:published_time"
    />
    {% endif %}
    <!-- Twitter cards -->
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:creator" content="@{{ page.twitter_username }}" />
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}" />
    {% endif %} {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %} {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{{ site.cover_image }}" />
    {% endif %}
    <!-- Site Title -->
    <title>
      {% if page.url == '/blog/blog.html' %} {{ page.title }} &#8226 Blog {% else %} {{
      page.title }} &#8226 {{ site.title }} Blog {% endif %}
    </title>
    <link
      rel="shortcut icon"
      href="{{site.baseurl}}/images/favicon.png"
      type="image/x-icon"
    />
    <!-- gulp:css -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/blog/app.css" />
    <!-- endgulp -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700"
      rel="stylesheet"
    />
  </head>
  <body
    class="{% if page.layout == 'post' %} post-template {% endif %} {% if page.layout == 'tag' %} tag-template {% endif %} {% if page.permalink %} page-template {% endif %}"
  >
    {% include header-post.html %}
    {{content}} {% include footer-landing.html %}
    <script src="{{site.baseurl}}/js/blog/build.js"></script>
  </body>
</html>
